{{ define "main" }}

<section class="single-block-wrapper section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
        <div class="single-post">
          <div class="post-header mb-5 text-center">
            <div class="meta-cat">
              {{ range .Params.Categories }}
              <span
                class="cat-name text-color font-extra text-sm text-uppercase letter-spacing-1">{{ . | title | humanize }}</span>
              {{ end }}
            </div>
            <h2 class="post-title mt-2">{{ .Title | markdownify }}</h2>

            <div class="post-meta">
              <span class="text-uppercase font-sm letter-spacing-1 mr-3">by {{ .Site.Params.author.name }}</span>
              <span class="text-uppercase font-sm letter-spacing-1">{{ .PublishDate.Format "January 02, 2006" }}</span>
            </div>
            <div class="post-featured-image mt-5">
              <img src="{{ .Params.Image | absURL }}" class="img-fluid w-100" alt="{{ .Title | markdownify }}">
            </div>
          </div>
          <div class="post-body">
            <div class="content-wrapper">
              {{ .Content }}
            </div>
            <div class="post-tags py-4">
              {{ range .Params.Tags }}
              <a href="{{ "tags/" | relLangURL }}{{ . | urlize | lower }}">#{{ . | title | humanize }}</a>
              {{ end }}
            </div>
          </div>
        </div>
        <div class="comment-area my-5">
          {{ template "_internal/disqus.html" . }}
        </div>
      </div>
      {{ partial "sidebar.html" . }}
    </div>
  </div>
</section>

{{ end }}